 .view-condensed {margin: 0px;}

  .sched-title {display:block; margin:1em;  height:2em;  text-align:center;  background: #A5A5A5;  }


  body {overflow-x:hidden;}

  table, tr, td {border:0; opacity:1; color:#000;}
  tr.t08 td:nth-child(n+3):not(:empty) {background:#FFFF66;}
  tr.t10 td:nth-child(n+3):not(:empty) {background:#3399FF;}
  tr.t12 td:nth-child(n+3):not(:empty) {background:#66FF66;}
  tr:nth-child(odd) {opacity:1;}
  tr:hover {opacity:0.6;}

  tr td:nth-child(0) {width:80px;}
  tr td:nth-child(1) {width:30px;}
  tr td {background:#D8D8D8;}
  tr.time-header {opacity:1; background:#FFFFFF;}
  
  table {width:100%; max-width:500px;}
  
  .SlideBar {width:5px;height:265px; padding:5px;background-color:rgba(255, 10, 10, 0.4);
  position:absolute; display:none; top:25px;}
  
  @media print, screen and (max-width: 960px) {
    tr td, table {width: auto;min-width: 0;display: table;}
    table {width:100%; max-width:500px;}
  }
  @media print, screen and (max-width: 480px) {
    tr td, table {display: table;}
    tr td  {width:auto; text-align:center; padding:5px;}
    tr td:nth-child(0) {text-align:left;}
    tr td:nth-child(1) {text-align:left;}
    
    table {width:80%; max-width:270px;margin-left:-23px; margin-right:0px;padding-right:0px;}
  }
